SAMSA_SECRET_KEY="super secret code"
# Mode: development, production, testing
SAMSA_MODE=development
SAMSA_HOST=127.0.0.1
SAMSA_HTTP_PORT=8000
SAMSA_GRPC_PORT=8001
SAMSA_WS_PORT=8082

SAMSA_CORS_ORIGINS="http://localhost:3000,http://127.0.0.1:3000,https://github.com"
SAMSA_ALLOWED_HOSTS="localhost:3000,127.0.0.1:3000"
SAMSA_FRONTEND_URL="localhost:3000"
SAMSA_IGNORED_PATHS="/swagger/index.html,/auth/register,/auth/login,/auth/forgot-password"

# Postgres
SAMSA_POSTGRES_USER=samsa
SAMSA_POSTGRES_PWD=samsa
SAMSA_POSTGRES_DATABASE=samsa
SAMSA_POSTGRES_TEST_DATABASE=SAMSA_test
SAMSA_POSTGRES_HOST=localhost
SAMSA_POSTGRES_PORT=5432
# postgres sslmode: disable, prefer, allow, require, verify-ca, verify-full
SAMSA_POSTGRES_SSLMODE=disable
# number of connections = ((core_count * 2) + effective_spindle_count)
SAMSA_POSTGRES_MAX_CONNS=4
SAMSA_POSTGRES_MAX_CONNS_IDLE_TIME=10m
SAMSA_POSTGRES_MAX_CONNS_LIFETIME=300s

# Redis
SAMSA_REDIS_HOST=localhost
SAMSA_REDIS_PORT=6379
SAMSA_REDIS_DB=0
SAMSA_REDIS_USER=
SAMSA_REDIS_PWD=

# otel
SAMSA_OPENTELEMETRY_ENABLE=true
SAMSA_OPENTELEMETRY_ENDPOINT="localhost:5317"
SAMSA_OPENTELEMETRY_SERVICE_NAME="samsa"
SAMSA_OPENTELEMETRY_SERVICE_VERSION="0.1.0"
SAMSA_OPENTELEMETRY_METER_NAME="demo"
SAMSA_OPENTELEMETRY_SAMPLER_RATIO=0.1

# Session
SAMSA_SESSION_NAME=session
SAMSA_SESSION_PATH="/"
SAMSA_SESSION_DOMAIN=localhost
SAMSA_SESSION_DURATION=720h
SAMSA_SESSION_HTTP_ONLY=true
SAMSA_SESSION_SECURE=true

# Email
SAMSA_EMAIL_HOST=
SAMSA_EMAIL_PORT=143
SAMSA_EMAIL_USERNAME=
SAMSA_EMAIL_PWD=
SAMSA_EMAIL_USETLS=false
SAMSA_EMAIL_USESSL=false

# Oauth2
SAMSA_OAUTH2_GOOGLE_CLIENT_ID=
SAMSA_OAUTH2_GOOGLE_CLIENT_SECRET=
SAMSA_OAUTH2_GITHUB_CLIENT_ID=
SAMSA_OAUTH2_GITHUB_CLIENT_SECRET=

# AWS
SAMSA_AWS_ACCESS_KEY_ID=
SAMSA_AWS_SECRET_ACCESS_KEY=
SAMSA_AWS_S3_ENDPOINT_URL="http://rustfs:9000"
SAMSA_AWS_S3_BUCKETS="samsa-s3,samsa-s3-public"
SAMSA_AWS_REGION="us-east-1"

# RustFS
SAMSA_RUSTFS_ADDRESS="0.0.0.0:9000"
SAMSA_RUSTFS_CONSOLE_ADDRESS="0.0.0.0:9001"
SAMSA_RUSTFS_ACCESS_KEY="admin"
SAMSA_RUSTFS_SECRET_KEY="password123"
SAMSA_RUSTFS_CORS_ALLOWED_ORIGINS="*"
SAMSA_RUSTFS_CONSOLE_ENABLE=true
SAMSA_RUSTFS_OBS_ENDPOINT="http://otel-collector:4318"
SAMSA_RUSTFS_OBS_LOGGER_LEVEL=info

GRAFANA_VERSION=11.3.0
OTELCOL_VERSION=otel/opentelemetry-collector-contrib:0.114.0
OTELCOL_ARGS=
PROM_VERSION=v3.0.0
JAEGER_VERSION=1.63.0
LOKI_VERSION=3.2.1
PROMTAIL_VERSION=3.2.1
NODE_EXPORTER_VERSION=v1.8.2
RUSTFS_VERSION=latest
